.button {
  @include control;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;

  &--primary {
    color: $white;
    background-color: $primary;
    border-width: 0;

    &:hover,
    &:focus {
      background-color: lighten($primary, 5%);
    }
  }

  &--icon-only {
    width: $control-height;
    padding: 0;
  }

  &--has-leading-icon .icon {
    margin-right: $control-padding-h / 2;
    margin-left: -$control-padding-h / 2; 
  } 

  &--has-trailing-icon .icon { 
    margin-right: -$control-padding-h / 2; 
    margin-left: $control-padding-h / 2;
  }
}