.button {
  @include control;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: $button-background-color;
  user-select: none;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: darken($button-background-color, 3%);
  }

  &--icon-only {
    width: $control-height;
    padding: 0;
  }

  &--has-leading-icon .icon {
    margin-right: $control-padding-h / 2;
    margin-left: -$control-padding-h / 2; 
  } 

  &--has-trailing-icon .icon { 
    margin-right: -$control-padding-h / 2; 
    margin-left: $control-padding-h / 2;
  }
}