.#{$prefix}control-group {
  display: flex;

  > .#{$prefix}button:not(:first-child),
  > .#{$prefix}input:not(:first-child),
  > .#{$prefix}select:not(:first-child),
  > .#{$prefix}checkbox.#{$prefix}checkbox--as-button:not(:first-child),
  > .#{$prefix}radio.#{$prefix}radio--as-button:not(:first-child) {
    margin-left: -$border-width;
  }

  > .#{$prefix}button:not(:first-child),
  > .#{$prefix}input:not(:first-child) .#{$prefix}input__control,
  > .#{$prefix}select:not(:first-child) .#{$prefix}select__control,
  > .#{$prefix}checkbox.#{$prefix}checkbox--as-button:not(:first-child) .#{$prefix}button,
  > .#{$prefix}radio.#{$prefix}radio--as-button:not(:first-child) .#{$prefix}button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  > .#{$prefix}button:not(:last-child),
  > .#{$prefix}input:not(:last-child) .#{$prefix}input__control,
  > .#{$prefix}select:not(:last-child) .#{$prefix}select__control,
  > .#{$prefix}checkbox.#{$prefix}checkbox--as-button:not(:last-child) .#{$prefix}button,
  > .#{$prefix}radio.#{$prefix}radio--as-button:not(:last-child) .#{$prefix}button {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}