.input {
  position: relative;
  display: block;
  flex: 1;
  cursor: text;

  &__control {
    @include control;
    width: 100%;

    &:hover {
      @include control-hovered;
    }

    &:focus {
      @include control-focused;
    }

    &:disabled {
      @include control-disabled;
    }
  }

  &--small &__control {
    @include control-small;
  }

  &--has-leading-icon &__control {
    padding-left: $control-height;
  }

  &--has-trailing-icon &__control {
    padding-right: $control-height;
  }

  &--has-leading-icon,
  &--has-trailing-icon {

    .icon {
      z-index: 100;
      position: absolute;
      top: 0;
      margin: calc(#{$control-height - $icon-size} / 2);  
    }
  }

  &--has-leading-icon .icon {
    left: $border-width;
  }

  &--has-trailing-icon .icon {
    right: $border-width;
  }

  &--small#{&}--has-leading-icon &__control {
    padding-left: $control-height-sm;
  }

  &--small#{&}--has-trailing-icon &__control {
    padding-right: $control-height-sm;
  }

  &--small#{&}--has-leading-icon,
  &--small#{&}--has-trailing-icon {

    .icon {
      margin: calc(#{$control-height-sm - $icon-size} / 2); 
    }
  }
}