.#{$prefix}menu {
  min-width: 180px;
  padding: rem(8px) 0;
  margin-top: 0;
  margin-bottom: 0;
  border: $border;
  border-radius: $border-radius;
  list-style: none;
  
  &__item {
    display: flex;
    align-items: center;
    width: 100%;
    height: $control-height;
    padding: $control-padding-y $control-padding-x;
    color: $text-color;
    font-size: $font-size;
    font-family: $font-family;
    text-decoration: none;
    background-color: $white;
    border: 0;
    cursor: pointer;

    &:not(:disabled):hover,
    &:focus {
      background-color: $grey-100;
    }

    &:focus {
      outline: 0;
    }

    &:disabled {
      color: $text-color-muted;
      cursor: not-allowed;
    }
  }

  &__divider {
    margin: $control-padding-x * 2 / 3 0;
    border: 0;
    border-top: $border;
  }
}