.select {
  position: relative;
  display: inline-block;
  cursor: pointer;

  &::after {
    content: "";
    z-index: 30;
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    width: $icon-size;
    height: $icon-size;
    margin: calc(#{$control-height - $icon-size} / 2);
    background-image: svg-load("svg/arrow-down.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    pointer-events: none;
  }

  &__control {
    @include control;
    padding-right: $control-height;
    appearance: none;
    cursor: pointer;
  }
}