.#{$prefix}switch {
  display: inline-flex;
  align-items: center;
  line-height: $switch-height;
  cursor: pointer;

  &:active &__indicator::before {
    width: $switch-indicator-size * 4 / 3;
  }

  &__control {
    @include visually-hidden;
    top: 0;
    left: 0;
  }

  &__indicator {
    position: relative;
    display: Inline-block;
    width: $switch-width;
    height: $switch-height;
    margin-right: $spacing-3;
    background-color: $switch-background-color;
    border-radius: $switch-height / 2; 

    &::before {
      content: "";
      z-index: 100;
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: $switch-indicator-size;
      height: $switch-indicator-size;
      margin: $spacing-1;
      background-color: $white;  
      border-radius: $switch-indicator-size / 2; 
    } 
  }
 
  &__control:checked ~ &__indicator {
    background-color: $switch-background-color-active;

    &::before {
      left: auto;
      right: 0;
    }
  }

  &__control:focus ~ &__indicator::before {
    box-shadow: 0 0 rem(4px) rem(8px) rgba($grey-500, 0.25);
  }

  &__control:checked:focus ~ &__indicator::before {
    box-shadow: 0 0 rem(4px) rem(8px) rgba($primary, 0.25);
  }
}