html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: $font-family;
  font-size: $font-size;
  color: $text-color;
}

@-moz-document url-prefix() {
  select {
    text-indent: -2px;
  }
}