@mixin control {
  position: relative;
  display: block;
  height: $control-height;
  padding: $control-padding-v $control-padding-h;
  font-size: $font-size;
  font-family: inherit;
  border: $border;
  border-radius: $border-radius;
}

@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}