@mixin control {
  position: relative;
  display: inline-block;
  height: $control-height;
  padding: $control-padding-y $control-padding-x;
  font-size: $control-font-size;
  font-family: $font-family;
  line-height: 1.5;
  color: $text-color;
  background-color: $white;
  border: $border;
  border-radius: $border-radius;
}

@mixin control-small {
  height: $control-height-sm;
  padding: $control-padding-y-sm $control-padding-x-sm;
  font-size: $control-font-size-sm;
}

@mixin control-hovered() {
  z-index: $control-z-index-hovered;
  border-color: darken($border-color, 10%);
}

@mixin control-focused($base-color: $primary) {
  z-index: $control-z-index-focused;
  border-color: $base-color;
  box-shadow: 0 0 rem(2px) rem(2px) rgba($base-color, 0.25);
  outline: 0;
}

@mixin control-disabled() {
  color: $text-color-muted;
  background-color: $grey-200;
  cursor: not-allowed;
}

@mixin checkbox-radio {
  position: relative;
  display: inline-flex;
  cursor: pointer;

  &__control {
    @include visually-hidden;
    top: 0;
    left: 0;
  }

  &__indicator {
    display: block;
    width: $checkbox-radio-size;
    height: $checkbox-radio-size;
    border: $border;
    margin-right: rem(8px);
    background-color: $checkbox-radio-background-color;

    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      background-size: 100%;
      background-repeat: no-repeat;
    }
  }

  &__text {
    padding: 0 rem(8px);
  }

  &__control:hover ~ &__indicator {
    @include control-hovered;
  }

  &__control:focus ~ &__indicator {
    @include control-focused;
  }
  
  &__control:checked:not(:disabled) ~ &__indicator {
    background-color: $checkbox-radio-background-color-active;
    border-color: transparent;
  }

  &__control:checked:not(:disabled):hover ~ &__indicator,
  &__control:checked:focus ~ &__indicator {
    background-color: lighten($checkbox-radio-background-color-active, 5%);
  }

  &__control:disabled ~ &__indicator {
    background-color: $grey-200;
  }

  &--as-button &__control:focus ~ .#{$prefix}button {
    @include control-focused;
  }

  &--as-button &__control:checked ~ .#{$prefix}button {
    background-color: rgba($primary, 0.125);
  }

  &--as-button &__control:disabled ~ .#{$prefix}button {
    @include control-disabled; 
  }
}

@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}