$grey-900: hsl(0, 0, 11%) !default;
$grey-800: hsl(0, 0, 24%) !default;
$grey-700: hsl(0, 0, 37%) !default;
$grey-600: hsl(0, 0, 50%) !default;
$grey-500: hsl(0, 0, 63%) !default;
$grey-400: hsl(0, 0, 76%) !default;
$grey-300: hsl(0, 0, 83%) !default;
$grey-200: hsl(0, 0, 90%) !default;
$grey-100: hsl(0, 0, 95%) !default;
$grey-50: hsl(0, 0, 97%) !default;
$white: hsl(0, 0, 100%) !default;

$primary: hsl(15, 90, 60) !default;

$text-color: $grey-800;
$text-color-muted: $grey-600;

$font-size: rem(14px);
$font-family: -apple-system, BlinkMacSystemFont, Roboto, Ubuntu, "Droid Sans", "Helvetica Neue", Arial, sans-serif;

$border-width: 1px;
$border-color: hsl(0, 0, 83%);
$border: $border-width solid $border-color;

$border-radius: rem(3px);

$spacing-1: rem(2px);
$spacing-2: rem(4px);
$spacing-3: rem(8px);
$spacing-4: rem(12px);
$spacing-5: rem(16px);

$control-z-index-hovered: 20;
$control-z-index-focused: 30;

$control-height: rem(32px);
$control-padding-y: $spacing-2;
$control-padding-x: $spacing-4;
$control-font-size: $font-size;

$control-height-sm: rem(24px);
$control-padding-y-sm: $spacing-1;
$control-padding-x-sm: $spacing-3;
$control-font-size-sm: $control-font-size * 0.925;

$checkbox-radio-size: rem(18px);
$checkbox-radio-background-color: $white;
$checkbox-radio-background-color-active: $primary;

$switch-width: rem(36px);
$switch-height: rem(18px);
$switch-indicator-size: $switch-height - rem(4px);
$switch-background-color: $grey-300;
$switch-background-color-active: $primary;

$icon-size: rem(16px); 