$font-size: rem(14px);
$font-family: -apple-system, BlinkMacSystemFont, Roboto, Ubuntu, "Droid Sans", "Helvetica Neue", Arial, sans-serif;

$border-width: 1px;
$border-color: hsl(0, 0, 83%);
$border: $border-width solid $border-color;

$border-radius: rem(3px);

$control-height: rem(32px);
$control-padding-v: rem(4px);
$control-padding-h: rem(12px);

$button-background-color: hsl(0, 0, 95%);

$icon-size: rem(20px);
$icon-color: hsl(0, 0, 90%);